@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Ecommerce.Models.Product>


<section class="py-5">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12">

				<div class="bootstrap-tabs product-tabs">
					<div class="tabs-header d-flex justify-content-between border-bottom my-5">
						<h3>Trending Products</h3>
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<a href="#" class="nav-link text-uppercase fs-6 active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all">All</a>
								<a href="#" class="nav-link text-uppercase fs-6" id="nav-fruits-tab" data-bs-toggle="tab" data-bs-target="#nav-fruits">Fruits & Veges</a>
								<a href="#" class="nav-link text-uppercase fs-6" id="nav-juices-tab" data-bs-toggle="tab" data-bs-target="#nav-juices">Juices</a>
							</div>
						</nav>
					</div>
					@foreach (var product in Model)
					{
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

								<div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

									<div class="col border">
										<div class="product-item">
											<figure>
												<a href="index.html" title="Product Title">
													<img width="232px" src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2021/CML_Holiday21/Fashion/LANDING_PAGES/headers/CML_HOL21_LP-HEADER_XCAT-M_DT._CB1634600139_.jpg" class="tab-image">
												</a>
											</figure>
											<h3>@product.ProductName</h3>
											<span class="qty">@product.StockQuantity left</span>
											<span class="price">@product.ProductPrice @product.Currency</span>
											<div class="d-flex align-items-center justify-content-between">
												<a asp-action="AddToCart" asp-controller="Product" asp-route-id="@product.Id" class="btn quantity-right-plus btn btn-danger btn-number w-100">
													-
												</a>

											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					}
				</div>
</section>